body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background: #f9f9fa;
  color: white;
  padding: 0 30px;
}
.btn{
  background-color: green;
}
.mt-3 {
  margin-top: 27rem !important;
  
}

